<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="testng">
  <groups>  
<run>  
<include name="Smoke"/>  
</run>  
</groups>
    <classes>
	<class name="Amazon.Login.Test.LoginTest" />
	<class name="Amazon.ProductSearchAndAddInCart.Test.ProductSearchAndAddInCartTest" />

</classes>
  </test> <!-- SmokeTest -->
</suite> <!-- Suite -->
